* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-weight: 400;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
  }
  
  @font-face {
    font-weight: 700;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
  }
  
  @font-face {
    font-weight: 500;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.ttf");
  }

  @font-face {
    font-weight: 300;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Light.ttf");
  }


body {
    background-color: #081130;
    font-family: Montserrat, serif;
    color: #fff;
}

a {
    color:#fff;
    text-decoration:none;
}

.header {
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 1px;
    background-color: rgba(126, 134, 142, 0.1);
}

.content {
    max-width:1180px;
    margin:0 auto;
}

.header .content {
    display:flex;
    align-items: center;
}

.information {
    display: flex;
    gap: 13px;
    align-items: flex-start;
    padding-top: 37px;
}

.adress__information{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding-top: 46px;
    margin-left: 550px;
    margin-right: 87px;
    transition: 0.3s;
}

.adress__information:hover {
    opacity: 0.7;
}

.adress {
    display:flex;
    gap: 15px;
    width: 122px;
    height: 36px;
}

.phone__hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
}

.header__logo {
    font-size: 21px;
    font-family: Montserrat, serif;
    font-weight: 400;
    padding-top: 36px;
    transition: 0.3s;
}

.header__logo:hover {
    opacity: 0.7;
}

.places__icon {
    width: 12px;
    height: 17px;
}

.header__adress {
    font-size: 12px;
    font-family: Montserrat, serif;
    font-weight: 300;
}

.phone__icon {
   padding-top: 6px;
}

.header__phone {
    font-size: 20px;
    font-family: Montserrat, serif;
    font-weight: 700;
}

.opening__hours {
    font-size: 13px;
    font-family: Montserrat, serif;
    font-weight: 300;
}


